---
import { Image } from "@astrojs/image/components";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import Skills from "@/components/Skills.astro";
import Timeline from "@/partials/Timeline.astro"

const entry = await getEntryBySlug("pages", "about");
const { Content } = await entry.render();
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="flex justify-center">
        <div class="text-center max-w-3xl">
          {
            image && (
              <div class="relative mx-auto w-max">
                <Image
                  class="mb-6 animate-morph"
                  src={image}
                  width={200}
                  height={200}
                  alt={title}
                />
                <div class="border-4 border-white/50 dark:border-black/50 animate-morph absolute w-full h-full top-0 left-0"></div>
              </div>
            )
          }
          <h1 set:html={markdownify(title)} class="h2 mb-6 strong-red" />
          <div class="content lg:text-base text-sm !leading-relaxed">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section class={`section bg-theme-light dark:bg-darkmode-theme-light`}>
    <div class="container">
      <Skills/>
    </div>
  </section>
  <!-- /Skills -->

  <Timeline/>
</Base>
