---
import ProjectCard from "@/components/ProjectCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import { getEntryBySlug } from "astro:content";

const { projects_folder } = config.settings;
const postIndex = await getEntryBySlug<any, string>(projects_folder, "-index");
const posts = await getSinglePage(projects_folder);
const allCategories = await getAllTaxonomy(projects_folder, "categories");
const categories = await getTaxonomy(projects_folder, "categories");
const tags = await getTaxonomy(projects_folder, "tags");
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="flex lg:flex-row flex-col gap-8">
        <!-- blog posts -->
        <div class="lg:w-8/12 flex flex-col gap-y-10">
          <div class="grid md:grid-cols-2 grid-cols-1 gap-x-8 md:gap-y-12 gap-y-10">
            {
              currentPosts.map((post) => (
                <div class="col-span-1">
                  <ProjectCard data={post} />
                </div>
              ))
            }
          </div>
          <Pagination
            section={projects_folder}
            currentPage={1}
            totalPages={totalPages}
          />
        </div>

        <!-- sidebar -->
        <PostSidebar
          categories={categories}
          tags={tags}
          allCategories={allCategories}
        />
      </div>
    </div>
  </section>
</Base>
