---
import ProjectCard from "@/components/ProjectCard.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import similerItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder } from "react-icons/fa/index.js";

const { projects_folder } = config.settings;
const posts = await getSinglePage(projects_folder);
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const { title, description, categories, image, date, tags } = post.data;
---

<section class="section pt-7">
  <div class="container">
    <div class="justify-center">
      <article class="max-w-5xl mx-auto">
        {
          image && (
            <div class="mb-10">
              <img
                src={image}
                height={512}
                width={1024}
                alt={title}
                class="w-full rounded"
                loading="lazy"
              />
            </div>
          )
        }
        <h1 set:html={markdownify(title)} class="h2 mb-4" />
        <ul class="mb-4">
          <li class="mr-4 inline-block">
            <FaRegFolder className={"mr-2 -mt-1 inline-block"} />
            {
              categories.map((category: string, index: number) => (
                <a href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                  {index !== categories.length - 1 && ","}
                </a>
              ))
            }
          </li>
        </ul>
        <div class="content mb-10">
          <Content />
        </div>
        <div class="flex items-start justify-between">
          <div class="mb-10 flex md:flex-row flex-col md:items-center items-start gap-4">
            <h5>Tags:</h5>
            <ul>
              {
                tags.map((tag: string) => (
                  <li class="inline-block">
                    <a
                      class="tag"
                      href={`/tags/${slugify(tag)}`}
                    >
                      {humanize(tag)}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </article>
    </div>

    <div class="section pb-0">
      <h2 class="h2 mb-12 text-center">Related <span class="text-secondary">Projects</span></h2>
      <div class="flex md:flex-row flex-col gap-x-8 justify-center gap-y-10">
        {
          similarPosts?.slice(0, 2).map((post) => (
            <div class="md:basis-1/2 basis-full">
              <ProjectCard data={post} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
